body{
    font: 20px Helvetica, Arial;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  h3{
    color: #159;
  }
  .back{
    margin-left: 10%;
  }
  
  
  input{
    display: table;
    margin-bottom: 1em;
    width: 60%;
    font-size: 16px;
    border: 2px solid #159;
    border-radius: 5px;
    padding: 3px;
  }
  
  .upload, button{
    color: #fff;
    background: #159;
    padding: 5px;
    border: 2px solid #159;
    border-radius: 5px;
    cursor: pointer;
  }
  




 
 

 
  

  